.dark{
	--background-main: #080d3e;
	--background-cell-closed: rgb(45, 26, 100);
	--nav-elem-border: rgb(0, 0, 0);
	--header-backgound: rgb(106, 60, 244);
	--text-color: #d7d4d4;
	--background-field:#104059; 
	--button-background: rgb(97, 17, 88);
}