:root{
	--header-backgound: rgb(159, 136, 231);
  --background-main: #60dff0;
  --background-field:#02066f; 
  --background-cell-closed: rgb(126, 90, 235);
  --nav-elem-border: rgb(243, 10, 10);
  --button-background: rgb(199, 245, 132);
  --text-color: #000;
  }