
$background-light-grey: #f6f6f6;
$background-cell: #46c51f;
$white: #fff;
$black: #000;
$background-field:#171cb7; 
$font-content: 'Arial', serif;

$max-width: 1200px;

$field-gap: 10px;

$breakpoint-extra-big: 1100px;
$breakpoint-extra-m: 767px;
$breakpoint-tablet: 800px;
$breakpoint-mobile-big: 600px;
$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-tablet) {
  $side-padding: 30px;
}
