
$background-light-grey: #f6f6f6;
$background-cell: #d1d1d1;
$background-cell-closed: rgb(136, 75, 75);
$background-cell: #d1d1d1;
$white: #fff;
$black: #000;
$background-field:#171cb7; 
$font-content: 'Arial', serif;

$max-width: 1200px;

$field-gap: 5px;

$breakpoint-extra-big: 1100px;
$breakpoint-extra-m: 767px;
$breakpoint-tablet: 800px;
$breakpoint-mobile-big: 600px;
$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-tablet) {
  $side-padding: 30px;
}

$transition-duration: 0.5s;

@mixin clickable {
  cursor: pointer;
  transition: opacity $transition-duration ease;
  &:hover {
    opacity: 50%;
    @media screen and (hover: none) {
      opacity: 100%;
    }
  }
}

@mixin button{
  @include clickable;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-content;
	font-size: 22px;
	padding: 10px;
  line-height: 1;
	background-color: greenyellow;
}