.field{
	padding: $field-gap;
	display: flex;
	width: 100%;
	max-width: 600px;
	flex-direction: column;
	gap: $field-gap;
	background-color: $background-field;
}

.field__row{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: $field-gap;
}

.field__cell{
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px;
	display: flex;
	flex-direction: row;
	gap: $field-gap;
	background-color: $background-cell;
	position: relative;
}
.field__cell_state_locked{
	@include clickable;
	&::after{
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $background-cell-closed;
		opacity: 70%;
	}
}
.field__cell_state_bomb{
	background-image: url('~/minesweeper/assets/img/bomb.png');
	background-size: contain;
	background-position: center;
}
.field__cell_state_flag{
	&::after{
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('~/minesweeper/assets/img/flag.png');
		background-size: contain;
		background-position: center;
		z-index: 2;
	}
}
.field__text{
	font-family: $font-content;
	font-size: 14px;
	line-height: 1;
	color: $white;
}