.field{
	padding: $field-gap;
	display: flex;
	width: 100%;
	max-width: 700px;
	flex-direction: column;
	gap: $field-gap;
	background-color:  var(--background-field);
	&_size_15{
		gap: calc($field-gap / 2);
		padding: calc($field-gap / 2);
		.field__row{
			grid-template-columns: repeat(15, 1fr);
			gap: calc($field-gap / 2);
	}
}
&_size_25{
	gap: calc($field-gap / 3);
	padding: calc($field-gap / 3);
	.field__row{
		grid-template-columns: repeat(25, 1fr);
		gap: calc($field-gap / 3);
	}
}
}



.field__row{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: $field-gap;
}


.field__cell{
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: $field-gap;
	background-color: $background-cell;
	position: relative;
}
.field__cell_danger_1{
	background-color: rgb(239, 239, 141);
}
.field__cell_danger_2{
	background-color: rgb(246, 246, 62);
}
.field__cell_danger_3{
	background-color: rgb(240, 206, 13);
}
.field__cell_danger_4{
	background-color: orange;
}
.field__cell_danger_5{
	background-color: orangered
}
.field__cell_danger_6{
	background-color: red;
}
.field__cell_danger_7{
	background-color: rgb(162, 20, 20);
}
.field__cell_danger_8{
	background-color: rgb(129, 21, 21);
}
.field__cell_state_locked{
	@include clickable;
	&::after{
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--background-cell-closed);
		// opacity: 70%;
	}
}
.field__cell_state_bomb{
	background-image: url('~/minesweeper/assets/img/bomb.png');
	background-size: contain;
	background-position: center;
}
.field__cell_state_flag{
	&::after{
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('~/minesweeper/assets/img/flag.png');
		background-size: contain;
		background-position: center;
	}
}
.field__text{
	font-family: $font-content;
	font-size: 1em;
	line-height: 1;
	color: var(--text-color);
}