.game-options{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 100%;
	max-width: 400px;

	&__restart-btn{
		@include button(18px, 5px);
	}
	&__selector{
		@include button(18px, 5px);
	}
}

