.header {
	width: 100%;
	background-color: var(--header-backgound);
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__nav{
	display: flex;
	gap: 40px;
}
.header__logo {
	font-family: $font-content;
	font-size: 32px;
	color: yellow;
}
.header__theme-btns-wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
}
.header__container{
	padding: 20px;
	width: 100%;
	max-width: $max-width;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__btn{
	@include clickable;
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	border-radius: 50%;
	justify-content: center;
	&_active{
		border: 1px solid yellow;
	}
}